/* bay-of-many */
body {
  font-family: "Montserrat", sans-serif;
  color: #666;
}

header {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 70px;
  z-index: 1;
}

#header-container,
#block-oc-law-firm-content,
footer > div,
#copyright > div {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

#header-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  height: 100%;
}

#block-oc-law-firm-site-branding img {
  width: 288px;
  height: 42px;
  vertical-align: middle;
}

main {
  padding-top: 70px;
}

#block-oc-law-firm-page-title {
  background-color: #273b81;
}
#block-oc-law-firm-page-title h1 {
  text-align: center;
  color: #fff;
  font-size: 26px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
  padding: 20px 0;
}

#block-oc-law-firm-content p,
#block-oc-law-firm-content li {
  font-size: 16px;
  line-height: 26px;
}
#block-oc-law-firm-content p img,
#block-oc-law-firm-content li img {
  max-width: 300px;
  height: auto;
}
#block-oc-law-firm-content h2 {
  font-size: 21px;
  line-height: 32px;
  font-weight: 600;
  color: #273b81;
}
#block-oc-law-firm-content article {
  margin: 40px 0;
}
#block-oc-law-firm-content article h2 {
  margin-top: 30px;
}
#block-oc-law-firm-content article img {
  max-width: 33%;
  height: auto;
}
@media (min-width: 900px) {
  #block-oc-law-firm-content article img {
    max-width: 300px;
  }
}
#block-oc-law-firm-content article img.align-right {
  margin: 0 0 10px 20px;
}
#block-oc-law-firm-content article::after {
  content: "";
  clear: both;
  display: table;
}

.button-link {
  display: inline-block;
  color: #fff;
  background-color: #273b81;
  padding: 10px 15px;
  border-radius: 3px;
  text-decoration: none;
}
.button-link:hover {
  background-color: #999;
}

/* bay-of-many */
#block-oc-law-firm-main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#block-oc-law-firm-main-menu ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.035);
  border-bottom: 1px solid rgba(255, 255, 255, 0.035);
  padding: 20px 0 20px 20px;
}
@media (min-width: 900px) {
  #block-oc-law-firm-main-menu ul li {
    display: inline;
    border-top: none;
    border-bottom: none;
    padding: 0;
  }
}
#block-oc-law-firm-main-menu ul li a {
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
}
#block-oc-law-firm-main-menu ul li a:hover, #block-oc-law-firm-main-menu ul li a.is-active {
  color: #273b81;
}
@media (min-width: 900px) {
  #block-oc-law-firm-main-menu ul li a {
    text-transform: uppercase;
    color: #999;
    padding: 0 11px;
  }
}

#header-container > div:nth-child(2) {
  display: none;
  background-color: #273b81;
  width: 80%;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  padding-top: 80px;
}
@media (min-width: 900px) {
  #header-container > div:nth-child(2) {
    display: block;
    background-color: transparent;
    width: 100%;
    height: auto;
    position: static;
    padding-top: 0;
  }
}

#close-menu,
#menu-overlay,
#menu-button {
  display: none;
}

#menu-button {
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  cursor: pointer;
}
#menu-button div {
  width: 30px;
  height: 3px;
  background-color: #666;
}
@media (max-width: 899px) {
  #menu-button {
    display: flex;
  }
}

#menu-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
}

#close-menu {
  z-index: 10;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

/* Nav Animations */
@-webkit-keyframes slidein {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes slidein {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@-webkit-keyframes slideout {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
@keyframes slideout {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.slidein {
  -webkit-animation: slidein 1s;
          animation: slidein 1s;
}

.slideout {
  -webkit-animation: slideout 1s;
          animation: slideout 1s;
}

.fadein {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.fadeout {
  -webkit-animation: fadeout 1s;
          animation: fadeout 1s;
}

/* bay-of-many */
#footer {
  background-color: #ebebeb;
  color: #666666;
}
#footer #footer-columns > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 40px 0 20px;
}
#footer #footer-columns > div h2 {
  color: #273b81;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  margin-top: 0;
}

.location-row {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-bottom: 20px;
  align-items: center;
}
.location-row svg {
  width: 20px;
  color: #999;
}
.location-row .map-icon {
  align-self: start;
}
.location-row p {
  margin: 0;
  line-height: 1.5;
}

nav#block-resources ul {
  list-style-type: none;
  padding-left: 0;
}
nav#block-resources ul li {
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
}
nav#block-resources ul li:first-of-type {
  border-top: 1px solid #ccc;
}
nav#block-resources ul a {
  text-decoration: none;
  color: #666;
  line-height: 1.5;
}
nav#block-resources ul a:hover {
  color: #273b81;
}

#copyright {
  background-color: #273b81;
  color: #999;
}
#copyright #copyright-inner-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media (min-width: 900px) {
  #copyright #copyright-inner-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
#copyright #copyright-inner-container > div,
#copyright #copyright-inner-container #credits a {
  display: flex;
  align-items: center;
}
#copyright #copyright-inner-container > div a,
#copyright #copyright-inner-container #credits a a {
  color: #999;
  text-decoration: none;
}
#copyright #copyright-inner-container > div a:hover,
#copyright #copyright-inner-container #credits a a:hover {
  color: #fff;
}
#copyright #copyright-inner-container > div #block-sitebranding,
#copyright #copyright-inner-container #credits a #block-sitebranding {
  text-align: center;
}
#copyright #copyright-inner-container > div #block-sitebranding::before,
#copyright #copyright-inner-container #credits a #block-sitebranding::before {
  content: "Copyright ";
}
#copyright #copyright-inner-container > div #block-sitebranding::after,
#copyright #copyright-inner-container #credits a #block-sitebranding::after {
  content: " - All Rights Reserved";
}

/* bay-of-many */
.practice-areas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  margin: 40px 0;
}
@media (min-width: 900px) {
  .practice-areas-container {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}
.practice-areas-container .practice-square {
  display: inline-block;
  position: relative;
}
.practice-areas-container .practice-square .practice-image img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.practice-areas-container .practice-square .practice-image img:hover {
  filter: grayscale(0);
}
.practice-areas-container .practice-square .practice-title {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;
  font-size: 11px;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 0;
  pointer-events: none;
}
@media (min-width: 900px) {
  .practice-areas-container .practice-square .practice-title {
    font-size: 24px;
    font-size: calc(100% + 0.6vw);
  }
}

/* bay-of-many */
.members-container {
  margin: 40px 0;
}
.members-container .member-row {
  grid-template-columns: auto 1fr 1fr auto;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 900px) {
  .members-container .member-row {
    display: grid;
  }
}
.members-container .member-row:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
.members-container .member-row a {
  color: #273b81;
  text-decoration: none;
}
.members-container .member-row a:hover {
  text-decoration: underline;
}
.members-container .member-row > div {
  margin-bottom: 20px;
}
.members-container .member-row > div:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 900px) {
  .members-container .member-row > div {
    margin-bottom: 0;
  }
}
.members-container .member-row .member-photo,
.members-container .member-row .member-name,
.members-container .member-row .member-link {
  grid-row: 1/3;
}
.members-container .member-row .member-email {
  grid-row: 1/2;
  align-self: end;
}
.members-container .member-row .member-email a::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23999999' width='20' height='20' viewBox='0 0 24 24'%3E%3Ctitle%3Eemail%3C/title%3E%3Cpath d='M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z' /%3E%3C/svg%3E");
  padding-right: 5px;
  vertical-align: middle;
}
.members-container .member-row .member-phone {
  grid-row: 2/3;
  align-self: start;
}
.members-container .member-row .member-phone > div::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23999999' width='20' height='20' viewbox='0 0 24 24'%3E%3Cpath d='M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z'/%3E%3C/svg%3E");
  padding-right: 5px;
  vertical-align: middle;
}
.members-container .member-row .member-link {
  background-color: #ebebeb;
  padding: 13px 25px;
  border-radius: 3px;
  line-height: 1;
  display: inline-block;
}
.members-container .member-row .member-link:hover {
  background-color: #dcdcdc;
}
.members-container .member-row .member-link a {
  color: unset;
  text-decoration: none;
}
.members-container .member-row .member-link a::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666666' width='20' height='20' viewBox='0 0 24 24'%3E%3Ctitle%3Echevron-right-circle%3C/title%3E%3Cpath d='M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M10,18L16,12L10,6L8.6,7.4L13.2,12L8.6,16.6L10,18Z' /%3E%3C/svg%3E");
  padding-left: 5px;
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */