@import "./variables";

body {
  font-family: "Montserrat", sans-serif;
  color: #666;
}

a {
  color: $base-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

header {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 70px;
  z-index: 1;
}

#header-container,
#block-oc-law-firm-content,
#footer > div,
#copyright > div {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}

#header-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  height: 100%;
}

#block-oc-law-firm-site-branding {
  img {
    width: 288px;
    height: 42px;
    vertical-align: middle;
  }
}

main {
  padding-top: 70px;
}

#block-oc-law-firm-page-title {
  background-color: $base-color;
  h1 {
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 36px;
    font-weight: normal;
    margin: 0;
    padding: 20px 0;
  }
}

#block-oc-law-firm-content {
  p,
  li {
    font-size: 16px;
    line-height: 26px;
    img {
      max-width: 300px;
      height: auto;
    }
  }
  h2 {
    font-size: 21px;
    line-height: 32px;
    font-weight: 600;
    color: $base-color;
  }
  > article {
    margin: 40px 0;
    h2 {
      margin-top: 30px;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    .align-right {
      max-width: 33%;
      height: auto;
      margin: 0 0 10px 20px;
      img {
        height: 100%;
        width: 100%;
      }
      @media (min-width: $desktop-start) {
        max-width: 300px;
      }
    }
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
}

.button-link {
  display: inline-block;
  color: #fff;
  background-color: $base-color;
  padding: 10px 15px;
  border-radius: 3px;
  text-decoration: none;
  &:hover {
    background-color: #999;
    text-decoration: none;
  }
}

.single-column {
  max-width: $single-col-content;
  margin: 0 auto;
}