@import "./variables";

#footer {
  background-color: #ebebeb;
  color: #666666;
  #footer-columns > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    column-gap: 30px;
    padding: 40px 0 20px;
    h2 {
      color: $base-color;
      font-weight: 600;
      font-size: 17px;
      line-height: 26px;
      margin-top: 0;
    }
  }
}

.location-row {
  display: grid;
  grid-template-columns: 20px 1fr;
  column-gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  svg {
    width: 20px;
    color: #999;
  }
  .map-icon {
    align-self: start;
  }
  p {
    margin: 0;
    line-height: 1.5;
  }
}

nav#block-footer {
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      &:first-of-type {
        border-top: 1px solid #ccc;
      }
      padding: 6px 0;
      border-bottom: 1px solid #ccc;
    }
    a {
      text-decoration: none;
      color: #666;
      line-height: 1.5;
      &:hover {
        color: $base-color;
      }
    }
  }
}

#copyright {
  background-color: $base-color;
  color: #999;
  #copyright-inner-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @media (min-width: $desktop-start) {
      flex-direction: row;
      justify-content: space-between;
    }
    p {
      margin: 0;
      text-align: center;
    }
    > div,
    #credits a {
      display: flex;
      align-items: center;
      a {
        color: #999;
        text-decoration: none;
        &:hover {
          color: #fff;
        }
      }
      // #block-sitebranding {
      //   text-align: center;
      //   &::before {
      //     content: "Copyright ";
      //   }
      //   &::after {
      //     content: " - All Rights Reserved";
      //   }
      // }
    }
  }
}
